In [31]:
import pandas as pd

In [44]:
results = ""
with open("trec_results.txt", "r") as f:
    results = f.read()

In [46]:
df = pd.DataFrame(columns={'query_number', 'map', 'recall'})

In [47]:
for query in results.split("\nnum_ret"):
    query_metrics = query.split("\n")
    _map = None
    _num_rel = None
    _num_rel_ret = None
    query_num = None
    for element in query_metrics:
        if "map" in element:
            query_num = element.split("\t")[1]
            _map = element.split("\t")[2]
        elif "num_rel_ret" in element:
            num_rel_ret = element.split("\t")[2]
        elif "num_rel" in element:
            num_rel = element.split("\t")[2]
        
            
    if _map != None: 
        map_element = {
                    "query_number": query_num,
                    "map":_map,
                    "recall": float(num_rel_ret)/float(num_rel)
                }        
        df = df.append(map_element, ignore_index=True)

In [49]:
df.sort_values("recall", ascending=False)

   query_number     map    recall
29          430  0.6716  1.000000
2           403  0.8976  1.000000
28          429  0.5281  1.000000
5           406  0.3494  1.000000
9           410  0.8591  1.000000
22          423  0.6659  1.000000
17          418  0.4482  0.965517
40          441  0.5111  0.941176
19          420  0.4028  0.909091
49          450  0.5637  0.907850
1           402  0.2765  0.887500
43          444  0.5723  0.882353
46          447  0.2145  0.875000
13          414  0.2431  0.871795
30          431  0.4708  0.869231
8           409  0.2021  0.863636
15          416  0.3449  0.857143
3           404  0.2316  0.838028
12          413  0.3028  0.811594
24          425  0.4360  0.808642
42          443  0.1349  0.803922
23          424  0.3002  0.795322
33          434  0.4251  0.757925
16          417  0.2691  0.733333
37          438  0.2328  0.722543
48          449  0.1125  0.701493
26          427  0.2231  0.700000
21          422  0.3208  0.677632
7           408  0.2603  0.644068
27          428  0.1630  0.644068
50          all  0.1730  0.637056
18          419  0.1111  0.625000
45          446  0.1756  0.617284
10          411  0.2084  0.592593
20          421  0.0562  0.566265
14          415  0.3551  0.566176
11          412  0.1052  0.560976
6           407  0.2194  0.558824
4           405  0.1105  0.500000
39          440  0.0783  0.481481
34          435  0.0624  0.470085
36          437  0.0349  0.458333
38          439  0.0382  0.392694
32          433  0.0089  0.384615
44          445  0.1303  0.370968
47          448  0.0474  0.347826
0           401  0.0559  0.336667
31          432  0.0028  0.285714
35          436  0.0836  0.266667
25          426  0.0488  0.262376
41          442  0.0166  0.159574